<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="public/image/포도.jpg" />
    <br />
    <a href="http://localhost:8889/1">1로 이동</a>
    <a href="http://localhost:8889/3">3으로 이동</a>
</body>
</html>