<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form name="register">
        <input type="text" id="userid" placeholder="ID"> <br />
        <input type="password" id="pw" placeholder="PW"> <br />
        <input type="text" id="name" placeholder="NAME"> <br />
        <button type="button" onclick="registerFunc()">회원가입</button>
        <!-- form name과 onclick 함수 이름이 같으면 오류남 -->
    </form>
    <script>
        async function registerFunc() {
            const data = {
                userid:document.querySelector('#userid').value,
                pw :document.querySelector('#pw').value,
                name :document.querySelector('#name').value,
            }
            //document.forms[]로 가져올수도, 이렇게 가져올수도 있다.
            const result = await axios({
                method : 'POST',
                url : '/register',
                data,
            });
            console.log('result',result);
        }
    </script>
</body>
</html>