<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>댓글 세부 내용</h1>
    <h2><%= commentInfos.userid %> 님의 댓글</h2>
    <h3> 날짜 : <%= commentInfos.date %> </h3>
    <h3> 내용 : <%= commentInfos.comment %></h3>
    <a href="/comment"> 돌아가기 </a>
</body>
</html>